[Unit]
Description=Process Tracker Service

[Service]
Type=notify
WorkingDirectory=/opt/processtracker/processtracker
ExecStart=/opt/processtracker/processtracker
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
