[Unit]
Description=process tracker service

[Service]
Type=notify
WorkingDirectory=/home/ubuntu/ProcessTrackerService
ExecStart=/home/ubuntu/ProcessTrackerService/ProcessTrackerService

[Install]
WantedBy=multi-user.target